.header {
  background-color: #ffffff;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 1rem;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
}

.nav-link:hover {
  color: #666;
}

.button-group {
  display: flex;
}

.login-btn, .donate-btn {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-btn {
  background-color: transparent;
  color: #333;
}

.donate-btn {
  background-color: #8cc63f;
  color: white;
}

.aid-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
  justify-items: center;
}

.gallery-image {
  width: 100%;
  max-width: 300px; /* Optional: limit the maximum width of each image */
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.05);
}
